#mybooking {
    font-family: 'Arvo', serif;
    color:white;
    margin-top: 100px;
    margin-bottom: 30px;
}


#clear {
    background-color: #d92027;
    width: 50%;
    border: 2px solid #ff9234;
    border-radius: 25%; 
    margin-left: 50%; 
}

#delete {
    background-color: #d92027;
    width: 100%;
    border: 2px solid #ff9234;
    border-radius: 25%;    
}

.badge{
    background-color: #e97171;
}

#booking-container{
    background: url('./../images/Robert1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}


#trans-container {
    margin-bottom: 120px;
}


#back {
    background-color: #63b7af;
    width: 100%;
    border: 2px solid #abf0e9;
    border-radius: 25%;  
}

.table th {
    color: white;
}

#total{
    color: white;
}

.table td {
    color: black;
}