#mybooking {
    font-family: 'Arvo', serif;
    color: black;
    margin-top: 100px;
    margin-bottom: 30px;
}


#clear {
    background-color: #d92027;
    width: 50%;
    border: 2px solid #ff9234;
    border-radius: 25%;  
}

#delete {
    background-color: #d92027;
    width: 100%;
    border: 2px solid #ff9234;
    border-radius: 25%;    
}

.badge{
    background-color: #e97171;
}

#booking-container{
    margin-bottom: 50px;
}

#trans-container {
    margin-bottom: 120px;
}
