#icon img {
    height: 40px;
    width: 60px;
    margin-left: 50px;
    border-radius: 25%;
}

.nav-item  {
    font-family: 'Arvo', serif;
    font-size: 15px;
    
}


 .navbar {
     background: url('./../images/navbar.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }

 .container-fluid {
     margin: 0;
     padding: 0;
 }

 