#addMovie {
    font-family: 'Arvo', serif;
    background-color: #0fabbc;
    width: 30%;
    border: 2px solid #12cad6;
    border-radius: 25%;  
    margin-bottom: 30px;
}




#editMovie{
    font-family: 'Arvo', serif;
    background-color: #ea907a;
    width: 30%;
    border: 2px solid #ffcb74;
    border-radius: 25%;
}

#adding {
   font-family: 'Arvo', serif;
   color: black;
   margin-top: 50px; 
}

#edit-container {
    background: url('./../images/movies.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#edit-text{
  font-family: 'Arvo', serif;
   color: black;
   margin-top: 50px; 
}


.ui {
    background: url('./../images/movies.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}