#addMovie {
    font-family: 'Arvo', serif;
    background-color: #0fabbc;
    width: 30%;
    border: 2px solid #12cad6;
    border-radius: 25%;  
    margin-bottom: 30px;
}

#editMovie{
    font-family: 'Arvo', serif;
    background-color: #ea907a;
    width: 30%;
    border: 2px solid #ffcb74;
    border-radius: 25%;
}

#adding {
   font-family: 'Arvo', serif;
   color: white;
   margin-top: 50px; 
}

#edit-container {
    margin-bottom: 60px;
}

#edit-text{
  font-family: 'Arvo', serif;
   color: white;
   margin-top: 50px; 
}


/* .ui {
    margin-bottom: 200px;
} */